<a href="https://colab.research.google.com/github/ClauderCarvalho/ABERTO/blob/master/RaspagemSaoSilvestre2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Webscrep  - captura de dados da corrida de São silvestre

Nome - Clauder Noronha

Fonte - https://pt.wikipedia.org/wiki/Corrida_Internacional_de_S%C3%A3o_Silvestre

In [0]:
!pip install -q -U watermark

In [0]:
!pip install -q pingouin

In [0]:
# Imports
import re
import requests
import matplotlib as m
import numpy as np
import pandas as pd
import pingouin as pg
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen
from scipy import stats

# Imports para formatação dos gráficos
sns.set_style('whitegrid')
%matplotlib inline

In [59]:
url = 'https://pt.wikipedia.org/wiki/Corrida_Internacional_de_S%C3%A3o_Silvestre'


resposta = requests.get(url)

table = pd.read_html(resposta.text)
table

[                           0  ...              2
 0   Corrida de São Silvestre  ...            NaN
 1                        NaN  ...            NaN
 2              Generalidades  ...  Generalidades
 3                    Esporte  ...            NaN
 4                  Categoria  ...            NaN
 5                    Criação  ...            NaN
 6                Organizador  ...            NaN
 7             N.º de Edições  ...            NaN
 8                 Frequência  ...            NaN
 9                    Formato  ...            NaN
 10               Disciplinas  ...            NaN
 11          Sítio eletrónico  ...            NaN
 12                Vencedores  ...            NaN
 13          Primeiro campeão  ...            NaN
 14             Maior campeão  ...            NaN
 15                   Campeão  ...            NaN
 16        Dados estatísticos  ...            NaN
 17             Participantes  ...            NaN
 18                    editar  ...            NaN

 [19 rows x 3 columns],             Ano  ...           Ref
 0          1925  ...          [24]
 1     1926-1928  ...          [24]
 2          1929  ...          [24]
 3          1930  ...          [25]
 4          1931  ...          [25]
 5     1932-1933  ...          [25]
 6     1934-1938  ...          [25]
 7     1939-1941  ...      [25][26]
 8   1942 - 1944  ...          [26]
 9     1945-1948  ...          [26]
 10         1949  ...          [26]
 11    1950-1952  ...          [27]
 12    1953-1965  ...      [27][28]
 13         1966  ...          [28]
 14         1967  ...          [28]
 15         1968  ...          [28]
 16         1969  ...          [28]
 17    1970-1978  ...          [29]
 18         1979  ...          [29]
 19    1980-1989  ...          [30]
 20    1991-2010  ...  [31][32][33]
 21         2011  ...          [33]
 22         2012  ...          [33]
 23  2013 - 2016  ...      [33][34]
 24         2017  ...           NaN
 25         2018  ...           NaN
 26         2019  ...           NaN

 [27 rows x 5 columns],      Ano                     Homens  ... Tempo.1   Ref
 0   1925              Alfredo Gomes  ...       -  [24]
 1   1926              Jorge Mancebo  ...       -  [24]
 2   1927      Heitor Blasi [nota 1]  ...       -  [24]
 3   1928                Salim Maluf  ...       -  [24]
 4   1929               Heitor Blasi  ...       -  [24]
 ..   ...                        ...  ...     ...   ...
 91  2015             Stanley Biwott  ...   54:01  [33]
 92  2016                 Leul Aleme  ...   48:35  [41]
 93  2017  Dawit Admasu[42] [nota 2]  ...   50:18   NaN
 94  2018              Belahy Bezabh  ...   50:20  [43]
 95  2019             Kibiwot Kandie  ...   48:54  [44]

 [96 rows x 8 columns],                                                    0                                                  1
 0  Masculino[editar | editar código-fonte]  Quêni...  Feminino[editar | editar código-fonte]  Quênia...,   vdeCorrida Internacional de São Silvestre – Cronologia  ... vdeCorrida Internacional de São Silvestre – Cronologia.2
 0  (1925) • (1926) • (1927) • (1928) • (1929) • (...      ...                                                NaN

 [1 rows x 3 columns],   vdeVéspera de Ano Novo e Ano Novo                vdeVéspera de Ano Novo e Ano Novo.1
 0                           Eventos  Bola da Times Square Concerto de Ano Novo de V...
 1                          Desporto  Clássico de Inverno da NHL Corrida Internacion...
 2                          Desfiles                       Desfile do Torneio das Rosas
 3                         Televisão  Dick Clark's New Year's Rockin' Eve Kōhaku Uta...
 4                            Cinema  Wee Willie Winkie Winnie the Pooh: A Very Merr...
 5                            Música  "Auld Lang Syne" "Happy New Year" "New Year's ...
 6              Tópicos relacionados  Calendário gregoriano Guy Lombardo Noite de Sã...]

In [0]:
df = table[2]

In [61]:
df.info

<bound method DataFrame.info of      Ano                     Homens  ... Tempo.1   Ref
0   1925              Alfredo Gomes  ...       -  [24]
1   1926              Jorge Mancebo  ...       -  [24]
2   1927      Heitor Blasi [nota 1]  ...       -  [24]
3   1928                Salim Maluf  ...       -  [24]
4   1929               Heitor Blasi  ...       -  [24]
..   ...                        ...  ...     ...   ...
91  2015             Stanley Biwott  ...   54:01  [33]
92  2016                 Leul Aleme  ...   48:35  [41]
93  2017  Dawit Admasu[42] [nota 2]  ...   50:18   NaN
94  2018              Belahy Bezabh  ...   50:20  [43]
95  2019             Kibiwot Kandie  ...   48:54  [44]

[96 rows x 8 columns]>

In [0]:
corrida = pd.DataFrame(df)

In [63]:
corrida.info

<bound method DataFrame.info of      Ano                     Homens  ... Tempo.1   Ref
0   1925              Alfredo Gomes  ...       -  [24]
1   1926              Jorge Mancebo  ...       -  [24]
2   1927      Heitor Blasi [nota 1]  ...       -  [24]
3   1928                Salim Maluf  ...       -  [24]
4   1929               Heitor Blasi  ...       -  [24]
..   ...                        ...  ...     ...   ...
91  2015             Stanley Biwott  ...   54:01  [33]
92  2016                 Leul Aleme  ...   48:35  [41]
93  2017  Dawit Admasu[42] [nota 2]  ...   50:18   NaN
94  2018              Belahy Bezabh  ...   50:20  [43]
95  2019             Kibiwot Kandie  ...   48:54  [44]

[96 rows x 8 columns]>

In [64]:
corrida.head(10)

    Ano                 Homens  ... Tempo.1   Ref
0  1925          Alfredo Gomes  ...       -  [24]
1  1926          Jorge Mancebo  ...       -  [24]
2  1927  Heitor Blasi [nota 1]  ...       -  [24]
3  1928            Salim Maluf  ...       -  [24]
4  1929           Heitor Blasi  ...       -  [24]
5  1930       Murilo de Araújo  ...       -  [25]
6  1931           José Agnello  ...       -  [25]
7  1932           Nestor Gomes  ...       -  [25]
8  1933           Nestor Gomes  ...       -  [25]
9  1934       Alfredo Carletti  ...       -  [25]

[10 rows x 8 columns]

In [65]:


corrida.head(3)

    Ano                 Homens                  Equipe  ... Equipe.1 Tempo.1   Ref
0  1925          Alfredo Gomes           Clube Espéria  ...        -       -  [24]
1  1926          Jorge Mancebo  Clube de Regatas Tietê  ...        -       -  [24]
2  1927  Heitor Blasi [nota 1]           Clube Espéria  ...        -       -  [24]

[3 rows x 8 columns]

In [66]:
#Shape
corrida.shape

(96, 8)

In [67]:
#Obtendo  uma visão geral dos dados para analise
corrida.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Ano       96 non-null     object
 1   Homens    96 non-null     object
 2   Equipe    93 non-null     object
 3   Tempo     96 non-null     object
 4   Mulheres  96 non-null     object
 5   Equipe.1  91 non-null     object
 6   Tempo.1   96 non-null     object
 7   Ref       95 non-null     object
dtypes: object(8)
memory usage: 6.1+ KB

In [68]:
# Verificando valores ausentes
corrida.isnull().sum()

Ano         0
Homens      0
Equipe      3
Tempo       0
Mulheres    0
Equipe.1    5
Tempo.1     0
Ref         1
dtype: int64

In [69]:
corrida.head()

    Ano                 Homens  ... Tempo.1   Ref
0  1925          Alfredo Gomes  ...       -  [24]
1  1926          Jorge Mancebo  ...       -  [24]
2  1927  Heitor Blasi [nota 1]  ...       -  [24]
3  1928            Salim Maluf  ...       -  [24]
4  1929           Heitor Blasi  ...       -  [24]

[5 rows x 8 columns]

In [0]:
corrida['Mulheres'] = corrida['Mulheres'].str.strip('-')

In [0]:
corrida['Tempo.1'] = corrida['Tempo.1'].str.strip('-')

In [72]:
corrida.head()

    Ano                 Homens  ... Tempo.1   Ref
0  1925          Alfredo Gomes  ...          [24]
1  1926          Jorge Mancebo  ...          [24]
2  1927  Heitor Blasi [nota 1]  ...          [24]
3  1928            Salim Maluf  ...          [24]
4  1929           Heitor Blasi  ...          [24]

[5 rows x 8 columns]

In [0]:
#Criar uma nova variavel
#Remover todas as linhas com valores ausente
corrida2= corrida.dropna(axis = 0, how = 'any')

In [74]:
corrida2.head()

    Ano                 Homens  ... Tempo.1   Ref
0  1925          Alfredo Gomes  ...          [24]
1  1926          Jorge Mancebo  ...          [24]
2  1927  Heitor Blasi [nota 1]  ...          [24]
3  1928            Salim Maluf  ...          [24]
4  1929           Heitor Blasi  ...          [24]

[5 rows x 8 columns]

In [75]:
#Confirmar a retirada de valores nulos
corrida2.isnull().sum()

Ano         0
Homens      0
Equipe      0
Tempo       0
Mulheres    0
Equipe.1    0
Tempo.1     0
Ref         0
dtype: int64

In [76]:
corrida2.head()

    Ano                 Homens  ... Tempo.1   Ref
0  1925          Alfredo Gomes  ...          [24]
1  1926          Jorge Mancebo  ...          [24]
2  1927  Heitor Blasi [nota 1]  ...          [24]
3  1928            Salim Maluf  ...          [24]
4  1929           Heitor Blasi  ...          [24]

[5 rows x 8 columns]

In [0]:
#Apagar a coluna REF
corrida2.drop('Ref', axis=1, inplace=True)

In [0]:
#Apagar a colunas EQUIPE.1
corrida2.drop('Equipe.1', axis=1, inplace=True)

In [79]:
corrida2.head()

    Ano                 Homens  ... Mulheres Tempo.1
0  1925          Alfredo Gomes  ...
1  1926          Jorge Mancebo  ...
2  1927  Heitor Blasi [nota 1]  ...
3  1928            Salim Maluf  ...
4  1929           Heitor Blasi  ...

[5 rows x 6 columns]

In [80]:
corrida2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91 entries, 0 to 92
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Ano       91 non-null     object
 1   Homens    91 non-null     object
 2   Equipe    91 non-null     object
 3   Tempo     91 non-null     object
 4   Mulheres  91 non-null     object
 5   Tempo.1   91 non-null     object
dtypes: object(6)
memory usage: 5.0+ KB

In [81]:
corrida2.head()

    Ano                 Homens  ... Mulheres Tempo.1
0  1925          Alfredo Gomes  ...
1  1926          Jorge Mancebo  ...
2  1927  Heitor Blasi [nota 1]  ...
3  1928            Salim Maluf  ...
4  1929           Heitor Blasi  ...

[5 rows x 6 columns]

In [0]:
#Transformar A coluna ano em INDEX

corrida2.set_index('Ano',inplace= True)

In [83]:
corrida2.head()

                     Homens                          Equipe  ... Mulheres Tempo.1
Ano                                                          ...
1925          Alfredo Gomes                   Clube Espéria  ...
1926          Jorge Mancebo          Clube de Regatas Tietê  ...
1927  Heitor Blasi [nota 1]                   Clube Espéria  ...
1928            Salim Maluf  Associação Athlética Palmeiras  ...
1929           Heitor Blasi         Societá Palestra Itália  ...

[5 rows x 5 columns]

In [0]:
# SAlvar o aqruivo como CSV

silvestre.to_csv('/content/drive/My Drive/WEBSCREP-DSA/silvestre.csv', encoding = "utf-8", index = False)